footer {
  position: absolute;
  width:100%;
  height:50px;
  bottom:0px;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.65);
  transition: all .3s ease-in-out ;
  overflow:hidden;
}

.pen-id {
  position:absolute;
  width:100%;
  height:50px;
  background-color:#fff;
  color:teal;
  text-align:center;
  padding-top:18px;
  top:50px;
  transition: all .3s ease-in-out;
}

.pen {
  text-align:center;
  width:50px;
  margin: 10px auto;
}

footer:hover .pen-id {
  top:0;
}

footer:hover {
  box-shadow: 0px -10px 10px -5px rgba(0,0,0,0.65);
}
