/* Pjxsantos 1.0 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.pj-serif{font-family:serif}.pj-sans-serif{font-family:sans-serif}.pj-cursive{font-family:cursive}.pj-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.pj-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.pj-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.pj-table,.pj-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.pj-table-all{border:1px solid #ccc}
.pj-bordered tr,.pj-table-all tr{border-bottom:1px solid #ddd}.pj-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.pj-table-all tr:nth-child(odd){background-color:#000}.pj-table-all tr:nth-child(even){background-color:#f1f1f1}
.pj-hoverable tbody tr:hover,.pj-ul.pj-hoverable li:hover{background-color:#ccc}.pj-centered tr th,.pj-centered tr td{text-align:center}
.pj-table td,.pj-table th,.pj-table-all td,.pj-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.pj-table th:first-child,.pj-table td:first-child,.pj-table-all th:first-child,.pj-table-all td:first-child{padding-left:16px}
.pj-btn,.pj-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.pj-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.pj-btn,.pj-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.pj-disabled,.pj-btn:disabled,.pj-button:disabled{cursor:not-allowed;opacity:0.3}.pj-disabled *,:disabled *{pointer-events:none}
.pj-btn.pj-disabled:hover,.pj-btn:disabled:hover{box-shadow:none}
.pj-badge,.pj-tag{background-color:#000;color:#000;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.pj-badge{border-radius:50%}
.pj-ul{list-style-type:none;padding:0;margin:0}.pj-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.pj-ul li:last-child{border-bottom:none}
.pj-tooltip,.pj-display-container{position:relative}.pj-tooltip .pj-text{display:none}.pj-tooltip:hover .pj-text{display:inline-block}
.pj-ripple:active{opacity:0.5}.pj-ripple{transition:opacity 0s}
.pj-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.pj-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.pj-dropdown-click,.pj-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.pj-dropdown-hover:hover .pj-dropdown-content{display:block}
.pj-dropdown-hover:first-child,.pj-dropdown-click:hover{background-color:#ccc;color:#000}
.pj-dropdown-hover:hover > .pj-button:first-child,.pj-dropdown-click:hover > .pj-button:first-child{background-color:#ccc;color:#fff}
.pj-dropdown-content{cursor:auto;color:#000;background-color:#000;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.pj-check,.pj-radio{width:24px;height:24px;position:relative;top:6px}
.pj-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.pj-bar-block .pj-dropdown-hover,.pj-bar-block .pj-dropdown-click{width:100%}
.pj-bar-block .pj-dropdown-hover .pj-dropdown-content,.pj-bar-block .pj-dropdown-click .pj-dropdown-content{min-width:100%}
.pj-bar-block .pj-dropdown-hover .pj-button,.pj-bar-block .pj-dropdown-click .pj-button{width:100%;text-align:left;padding:8px 16px}
.pj-main,#main{transition:margin-left .4s}
.pj-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.pj-modal-content{margin:auto;background-color:#000;position:relative;padding:0;outline:0;width:600px}
.pj-bar{width:100%;overflow:hidden}.pj-center .pj-bar{display:inline-block;width:auto}
.pj-bar .pj-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.pj-bar .pj-dropdown-hover,.pj-bar .pj-dropdown-click{position:static;float:left}
.pj-bar .pj-button{white-space:normal}
.pj-bar-block .pj-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.pj-bar-block.pj-center .pj-bar-item{text-align:center}.pj-block{display:block;width:100%}
.pj-responsive{display:block;overflow-x:auto}
.pj-container:after,.pj-container:before,.pj-panel:after,.pj-panel:before,.pj-row:after,.pj-row:before,.pj-row-padding:after,.pj-row-padding:before,
.pj-cell-row:before,.pj-cell-row:after,.pj-clear:after,.pj-clear:before,.pj-bar:before,.pj-bar:after{content:"";display:table;clear:both}
.pj-col,.pj-half,.pj-third,.pj-twothird,.pj-threequarter,.pj-quarter{float:left;width:100%}
.pj-col.s1{width:8.33333%}.pj-col.s2{width:16.66666%}.pj-col.s3{width:24.99999%}.pj-col.s4{width:33.33333%}
.pj-col.s5{width:41.66666%}.pj-col.s6{width:49.99999%}.pj-col.s7{width:58.33333%}.pj-col.s8{width:66.66666%}
.pj-col.s9{width:74.99999%}.pj-col.s10{width:83.33333%}.pj-col.s11{width:91.66666%}.pj-col.s12{width:99.99999%}
@media (min-width:601px){.pj-col.m1{width:8.33333%}.pj-col.m2{width:16.66666%}.pj-col.m3,.pj-quarter{width:24.99999%}.pj-col.m4,.pj-third{width:33.33333%}
.pj-col.m5{width:41.66666%}.pj-col.m6,.pj-half{width:49.99999%}.pj-col.m7{width:58.33333%}.pj-col.m8,.pj-twothird{width:66.66666%}
.pj-col.m9,.pj-threequarter{width:74.99999%}.pj-col.m10{width:83.33333%}.pj-col.m11{width:91.66666%}.pj-col.m12{width:99.99999%}}
@media (min-width:993px){.pj-col.l1{width:8.33333%}.pj-col.l2{width:16.66666%}.pj-col.l3{width:24.99999%}.pj-col.l4{width:33.33333%}
.pj-col.l5{width:41.66666%}.pj-col.l6{width:49.99999%}.pj-col.l7{width:58.33333%}.pj-col.l8{width:66.66666%}
.pj-col.l9{width:74.99999%}.pj-col.l10{width:83.33333%}.pj-col.l11{width:91.66666%}.pj-col.l12{width:99.99999%}}
.pj-rest{overflow:hidden}.pj-stretch{margin-left:-16px;margin-right:-16px}
.pj-content,.pj-auto{margin-left:auto;margin-right:auto}.pj-content{max-width:980px}.pj-auto{max-width:1140px}
.pj-cell-row{display:table;width:100%}.pj-cell{display:table-cell}
.pj-cell-top{vertical-align:top}.pj-cell-middle{vertical-align:middle}.pj-cell-bottom{vertical-align:bottom}
.pj-hide{display:none!important}.pj-show-block,.pj-show{display:block!important}.pj-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.pj-auto{max-width:95%}}
@media (max-width:600px){.pj-modal-content{margin:0 10px;width:auto!important}.pj-modal{padding-top:30px}
.pj-dropdown-hover.pj-mobile .pj-dropdown-content,.pj-dropdown-click.pj-mobile .pj-dropdown-content{position:relative}	
.pj-hide-small{display:none!important}.pj-mobile{display:block;width:100%!important}.pj-bar-item.pj-mobile,.pj-dropdown-hover.pj-mobile,.pj-dropdown-click.pj-mobile{text-align:center}
.pj-dropdown-hover.pj-mobile,.pj-dropdown-hover.pj-mobile .pj-btn,.pj-dropdown-hover.pj-mobile .pj-button,.pj-dropdown-click.pj-mobile,.pj-dropdown-click.pj-mobile .pj-btn,.pj-dropdown-click.pj-mobile .pj-button{width:100%}}
@media (max-width:768px){.pj-modal-content{width:500px}.pj-modal{padding-top:50px}}
@media (min-width:993px){.pj-modal-content{width:900px}.pj-hide-large{display:none!important}.pj-sidebar.pj-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.pj-hide-medium{display:none!important}}
@media (max-width:992px){.pj-sidebar.pj-collapse{display:none}.pj-main{margin-left:0!important;margin-right:0!important}.pj-auto{max-width:100%}}
.pj-top,.pj-bottom{position:fixed;width:100%;z-index:1}.pj-top{top:0}.pj-bottom{bottom:0}
.pj-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.pj-display-topleft{position:absolute;left:0;top:0}.pj-display-topright{position:absolute;right:0;top:0}
.pj-display-bottomleft{position:absolute;left:0;bottom:0}.pj-display-bottomright{position:absolute;right:0;bottom:0}
.pj-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.pj-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.pj-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.pj-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.pj-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.pj-display-container:hover .pj-display-hover{display:block}.pj-display-container:hover span.pj-display-hover{display:inline-block}.pj-display-hover{display:none}
.pj-display-position{position:absolute}
.pj-circle{border-radius:50%}
.pj-round-small{border-radius:2px}.pj-round,.pj-round-medium{border-radius:4px}.pj-round-large{border-radius:8px}.pj-round-xlarge{border-radius:16px}.pj-round-xxlarge{border-radius:32px}
.pj-row-padding,.pj-row-padding>.pj-half,.pj-row-padding>.pj-third,.pj-row-padding>.pj-twothird,.pj-row-padding>.pj-threequarter,.pj-row-padding>.pj-quarter,.pj-row-padding>.pj-col{padding:0 8px}
.pj-container,.pj-panel{padding:0.01em 16px}.pj-panel{margin-top:16px;margin-bottom:16px}
.pj-code,.pj-codespan{font-family:Consolas,"courier new";font-size:16px}
.pj-code{width:auto;background-color:#000;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.pj-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.pj-card,.pj-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.pj-card-4,.pj-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.pj-spin{animation:pj-spin 2s infinite linear}@keyframes pj-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.pj-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.pj-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.pj-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.pj-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.pj-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.pj-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.pj-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.pj-animate-input{transition:width 0.4s ease-in-out}.pj-animate-input:focus{width:100%!important}
.pj-opacity,.pj-hover-opacity:hover{opacity:0.60}.pj-opacity-off,.pj-hover-opacity-off:hover{opacity:1}
.pj-opacity-max{opacity:0.25}.pj-opacity-min{opacity:0.75}
.pj-greyscale-max,.pj-grayscale-max,.pj-hover-greyscale:hover,.pj-hover-grayscale:hover{filter:grayscale(100%)}
.pj-greyscale,.pj-grayscale{filter:grayscale(75%)}.pj-greyscale-min,.pj-grayscale-min{filter:grayscale(50%)}
.pj-sepia{filter:sepia(75%)}.pj-sepia-max,.pj-hover-sepia:hover{filter:sepia(100%)}.pj-sepia-min{filter:sepia(50%)}
.pj-tiny{font-size:10px!important}.pj-small{font-size:12px!important}.pj-medium{font-size:15px!important}.pj-large{font-size:18px!important}
.pj-xlarge{font-size:24px!important}.pj-xxlarge{font-size:36px!important}.pj-xxxlarge{font-size:48px!important}.pj-jumbo{font-size:64px!important}
.pj-left-align{text-align:left!important}.pj-right-align{text-align:right!important}.pj-justify{text-align:justify!important}.pj-center{text-align:center!important}
.pj-border-0{border:0!important}.pj-border{border:1px solid #ccc!important}
.pj-border-top{border-top:1px solid #ccc!important}.pj-border-bottom{border-bottom:1px solid #ccc!important}
.pj-border-left{border-left:1px solid #ccc!important}.pj-border-right{border-right:1px solid #ccc!important}
.pj-topbar{border-top:6px solid #ccc!important}.pj-bottombar{border-bottom:6px solid #ccc!important}
.pj-leftbar{border-left:6px solid #ccc!important}.pj-rightbar{border-right:6px solid #ccc!important}
.pj-section,.pj-code{margin-top:16px!important;margin-bottom:16px!important}
.pj-margin{margin:16px!important}.pj-margin-top{margin-top:16px!important}.pj-margin-bottom{margin-bottom:16px!important}
.pj-margin-left{margin-left:16px!important}.pj-margin-right{margin-right:16px!important}
.pj-padding-small{padding:4px 8px!important}.pj-padding{padding:8px 16px!important}.pj-padding-large{padding:12px 24px!important}
.pj-padding-16{padding-top:16px!important;padding-bottom:16px!important}.pj-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.pj-padding-32{padding-top:32px!important;padding-bottom:32px!important}.pj-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.pj-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.pj-padding-top-64{padding-top:64px!important}.pj-padding-top-48{padding-top:48px!important}
.pj-padding-top-32{padding-top:32px!important}.pj-padding-top-24{padding-top:24px!important}
.pj-left{float:left!important}.pj-right{float:right!important}
.pj-button:hover{color:#fff!important;background-color:#ccc!important}
.pj-transparent,.pj-hover-none:hover{background-color:transparent!important}
.pj-hover-none:hover{box-shadow:none!important}
/* Colors */
.pj-amber,.pj-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.pj-aqua,.pj-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.pj-blue,.pj-hover-blue:hover{color:#000!important;background-color:#2196F3!important}
.pj-light-blue,.pj-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.pj-brown,.pj-hover-brown:hover{color:#000!important;background-color:#795548!important}
.pj-cyan,.pj-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.pj-blue-grey,.pj-hover-blue-grey:hover,.pj-blue-gray,.pj-hover-blue-gray:hover{color:#000!important;background-color:#607d8b!important}
.pj-green,.pj-hover-green:hover{color:#000!important;background-color:#4CAF50!important}
.pj-light-green,.pj-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.pj-indigo,.pj-hover-indigo:hover{color:#000!important;background-color:#3f51b5!important}
.pj-khaki,.pj-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.pj-lime,.pj-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.pj-orange,.pj-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.pj-deep-orange,.pj-hover-deep-orange:hover{color:#000!important;background-color:#ff5722!important}
.pj-pink,.pj-hover-pink:hover{color:#000!important;background-color:#e91e63!important}
.pj-purple,.pj-hover-purple:hover{color:#000!important;background-color:#9c27b0!important}
.pj-deep-purple,.pj-hover-deep-purple:hover{color:#000!important;background-color:#673ab7!important}
.pj-red,.pj-hover-red:hover{color:#000!important;background-color:#f44336!important}
.pj-sand,.pj-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.pj-teal,.pj-hover-teal:hover{color:#000!important;background-color:#56FF00!important}
.pj-yellow,.pj-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.pj-white,.pj-hover-white:hover{color:#000!important;background-color:#000!important}
.pj-black,.pj-hover-black:hover{color:#000!important;background-color:#000!important}
.pj-grey,.pj-hover-grey:hover,.pj-gray,.pj-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.pj-light-grey,.pj-hover-light-grey:hover,.pj-light-gray,.pj-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.pj-dark-grey,.pj-hover-dark-grey:hover,.pj-dark-gray,.pj-hover-dark-gray:hover{color:#000!important;background-color:#616161!important}
.pj-pale-red,.pj-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.pj-pale-green,.pj-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.pj-pale-yellow,.pj-hover-pale-yellow:hover{color:#000!important;background-color:#000fcc!important}
.pj-pale-blue,.pj-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.pj-text-amber,.pj-hover-text-amber:hover{color:#ffc107!important}
.pj-text-aqua,.pj-hover-text-aqua:hover{color:#00ffff!important}
.pj-text-blue,.pj-hover-text-blue:hover{color:#2196F3!important}
.pj-text-light-blue,.pj-hover-text-light-blue:hover{color:#87CEEB!important}
.pj-text-brown,.pj-hover-text-brown:hover{color:#795548!important}
.pj-text-cyan,.pj-hover-text-cyan:hover{color:#00bcd4!important}
.pj-text-blue-grey,.pj-hover-text-blue-grey:hover,.pj-text-blue-gray,.pj-hover-text-blue-gray:hover{color:#607d8b!important}
.pj-text-green,.pj-hover-text-green:hover{color:#4CAF50!important}
.pj-text-light-green,.pj-hover-text-light-green:hover{color:#8bc34a!important}
.pj-text-indigo,.pj-hover-text-indigo:hover{color:#3f51b5!important}
.pj-text-khaki,.pj-hover-text-khaki:hover{color:#b4aa50!important}
.pj-text-lime,.pj-hover-text-lime:hover{color:#cddc39!important}
.pj-text-orange,.pj-hover-text-orange:hover{color:#ff9800!important}
.pj-text-deep-orange,.pj-hover-text-deep-orange:hover{color:#ff5722!important}
.pj-text-pink,.pj-hover-text-pink:hover{color:#e91e63!important}
.pj-text-purple,.pj-hover-text-purple:hover{color:#9c27b0!important}
.pj-text-deep-purple,.pj-hover-text-deep-purple:hover{color:#673ab7!important}
.pj-text-red,.pj-hover-text-red:hover{color:#f44336!important}
.pj-text-sand,.pj-hover-text-sand:hover{color:#fdf5e6!important}
.pj-text-teal,.pj-hover-text-teal:hover{color:#56FF00!important}
.pj-text-yellow,.pj-hover-text-yellow:hover{color:#d2be0e!important}
.pj-text-white,.pj-hover-text-white:hover{color:#000!important}
.pj-text-black,.pj-hover-text-black:hover{color:#000!important}
.pj-text-grey,.pj-hover-text-grey:hover,.pj-text-gray,.pj-hover-text-gray:hover{color:#757575!important}
.pj-text-light-grey,.pj-hover-text-light-grey:hover,.pj-text-light-gray,.pj-hover-text-light-gray:hover{color:#f1f1f1!important}
.pj-text-dark-grey,.pj-hover-text-dark-grey:hover,.pj-text-dark-gray,.pj-hover-text-dark-gray:hover{color:#3a3a3a!important}
.pj-border-amber,.pj-hover-border-amber:hover{border-color:#ffc107!important}
.pj-border-aqua,.pj-hover-border-aqua:hover{border-color:#00ffff!important}
.pj-border-blue,.pj-hover-border-blue:hover{border-color:#2196F3!important}
.pj-border-light-blue,.pj-hover-border-light-blue:hover{border-color:#87CEEB!important}
.pj-border-brown,.pj-hover-border-brown:hover{border-color:#795548!important}
.pj-border-cyan,.pj-hover-border-cyan:hover{border-color:#00bcd4!important}
.pj-border-blue-grey,.pj-hover-border-blue-grey:hover,.pj-border-blue-gray,.pj-hover-border-blue-gray:hover{border-color:#607d8b!important}
.pj-border-green,.pj-hover-border-green:hover{border-color:#4CAF50!important}
.pj-border-light-green,.pj-hover-border-light-green:hover{border-color:#8bc34a!important}
.pj-border-indigo,.pj-hover-border-indigo:hover{border-color:#3f51b5!important}
.pj-border-khaki,.pj-hover-border-khaki:hover{border-color:#f0e68c!important}
.pj-border-lime,.pj-hover-border-lime:hover{border-color:#cddc39!important}
.pj-border-orange,.pj-hover-border-orange:hover{border-color:#ff9800!important}
.pj-border-deep-orange,.pj-hover-border-deep-orange:hover{border-color:#ff5722!important}
.pj-border-pink,.pj-hover-border-pink:hover{border-color:#e91e63!important}
.pj-border-purple,.pj-hover-border-purple:hover{border-color:#9c27b0!important}
.pj-border-deep-purple,.pj-hover-border-deep-purple:hover{border-color:#673ab7!important}
.pj-border-red,.pj-hover-border-red:hover{border-color:#f44336!important}
.pj-border-sand,.pj-hover-border-sand:hover{border-color:#fdf5e6!important}
.pj-border-teal,.pj-hover-border-teal:hover{border-color:#56FF00!important}
.pj-border-yellow,.pj-hover-border-yellow:hover{border-color:#ffeb3b!important}
.pj-border-white,.pj-hover-border-white:hover{border-color:#000!important}
.pj-border-black,.pj-hover-border-black:hover{border-color:#000!important}
.pj-border-grey,.pj-hover-border-grey:hover,.pj-border-gray,.pj-hover-border-gray:hover{border-color:#9e9e9e!important}
.pj-border-light-grey,.pj-hover-border-light-grey:hover,.pj-border-light-gray,.pj-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.pj-border-dark-grey,.pj-hover-border-dark-grey:hover,.pj-border-dark-gray,.pj-hover-border-dark-gray:hover{border-color:#616161!important}
.pj-border-pale-red,.pj-hover-border-pale-red:hover{border-color:#ffe7e7!important}.pj-border-pale-green,.pj-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.pj-border-pale-yellow,.pj-hover-border-pale-yellow:hover{border-color:#000fcc!important}.pj-border-pale-blue,.pj-hover-border-pale-blue:hover{border-color:#e7ffff!important}
